<!DOCTYPE html>
{% extends 'Manager/homebase.html'%}
{%load staticfiles%}
<link rel="stylesheet" href="{%static 'css/home.css' %}">

{% load crispy_forms_tags %}



{% block homeblock%}


<h1 id="heading"> Add Players to your team</h1> <br>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

            <div class="card">
                <div class="col-sm-3 col-md-5 col-lg-12">
                <div class="panel panel-default">
                <div class="panel-body">


                        <form enctype="multipart/form-data" method="post" autocomplete="off" >
                            {%csrf_token%}
                          <!--  {{player|crispy}} -->
                      <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                                    {{ player.first_name|as_crispy_field }}
                                  </div>
                                  <div class="form-group col-md-6 mb-0">
                                    {{ player.last_name|as_crispy_field }}
                                  </div>
                              </div>
                      <div class="form-row">
                                  <div class="form-group col-md-6 mb-0">
                                            {{ player.team_name|as_crispy_field }}
                                          </div>
                                          <div class="form-group col-md-6 mb-0">
                                            {{ player.contact_no|as_crispy_field }}
                                          </div>
                                      </div>

                                      <div class="form-row">
                                                  <div class="form-group col-md-4 mb-0">
                                                            {{ player.age|as_crispy_field }}
                                                          </div>
                                                          <div class="form-group col-md-4 mb-0">
                                                            {{ player.jersy_no|as_crispy_field }}
                                                          </div>
                                                          <div class="form-group col-md-4 mb-0">
                                                            {{ player.position|as_crispy_field }}
                                                          </div>
                                                      </div>

                                      <div class="form-row">
                                                    <div class="form-group col-md-12 mb-0">
                                                          {{ player.address|as_crispy_field }}
                                                    </div>
                                      </div>

                                      <div class="form-row">

                                                  <div class="form-group col-md-12 mb-0">
                                                      {{ player.upload_photo|as_crispy_field }}
                                                  </div>
                                        </div>




                                        <div class="form-row">
                                              <div class="form-group col-md-12 mb-0">
                                                <input type="submit" class="btn btn-primary" value="ADD">
                                              </div>
                                          </div>

                        </form>



                </div>
                </div>
                 </div>
            </div>
        </div>

                <div class="col-md-3"></div>

        </div>
    </main>
{%endblock%}
