<!DOCTYPE html>
{% extends 'Manager/homebase.html'%}
{%load staticfiles%}
<link rel="stylesheet" href="{%static 'css/home.css' %}">

{% load crispy_forms_tags %}



{% block homeblock%}


<h1 id="heading"> Add Your Team</h1> <br>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

            <div class="card">
                <div class="col-sm-3 col-md-5 col-lg-12">
                <div class="panel panel-default">
                <div class="panel-body">


                        <form enctype="multipart/form-data" method="post" autocomplete="off" >
                            {%csrf_token%}
                            {{teamform|crispy}}
                            <input type="submit" class="btn btn-primary" value="Register">
                        </form>



                </div>
                </div>
                 </div>
            </div>
        </div>

                <div class="col-md-3"></div>

        </div>
    </main>
{%endblock%}
