<!DOCTYPE html>
{% extends 'Manager/homebase.html'%}
{%load staticfiles%}
<link rel="stylesheet" href="{%static 'css/home.css' %}">

{% load crispy_forms_tags %}



{% block homeblock%}


<h1 id="heading"> Add Your Team</h1> <br>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

            <div class="card">
                <div class="col-sm-3 col-md-5 col-lg-12">
                <div class="panel panel-default">
                <div class="panel-body">


                        <form enctype="multipart/form-data" method="post" autocomplete="off" >
                            {%csrf_token%}

                            <div class="form-row">
                                  <div class="form-group col-md-8 mb-0">
                                    {{ teamform.team_name|as_crispy_field }}
                                  </div>
                                  <div class="form-group col-md-4 mb-0">
                                    {{ teamform.username|as_crispy_field }}
                                  </div>
                              </div>
                              

                                <div class="form-row">
                                      <div class="form-group col-md-12 mb-0">
                                        {{ teamform.address|as_crispy_field }}
                                      </div>
                                  </div>

                                  <div class="form-row">
                                        <div class="form-group col-md-12 mb-0">
                                          {{ teamform.contact_no|as_crispy_field }}
                                        </div>
                                    </div>

                                    <div class="form-row">
                                          <div class="form-group col-md-12 mb-0">
                                            {{ teamform.team_logo|as_crispy_field }}
                                          </div>
                                      </div>

                                      <div class="form-row">
                                            <div class="form-group col-md-12 mb-0">
                                              <input type="submit" class="btn btn-primary" value="Register">
                                            </div>
                                        </div>
                              </form>



                </div>
                </div>
                 </div>
            </div>
        </div>

                <div class="col-md-3"></div>

        </div>
    </main>
{%endblock%}
