<!DOCTYPE html>

{% extends 'Manager/indexbase.html'%}
{%load staticfiles%}



{% block indexblock%}

<!-- <link rel="stylesheet" href="{%static 'css/guest.css' %}"> -->

<style >
div.container_standings {
      color: black;
      width: 1308px;
      height: 605px;
      /* margin: 48px; */
  }

  body{
    overflow: auto;
  }

  .jumbotron{

    height: 200px;
    width: 420px;
    margin-top: 92px;
    margin-left: 429px;
    background: whitesmoke;

  }

  .jumbotron p {
      margin-bottom: 16px;
      font-size: 26px;
      font-weight: 200;
  }

  a {

      text-decoration: none;
      color: aliceblue;
  }

</style>

<div class="container_standings">

<div class="jumbotron">
    <p>Please select the Tournment</p>
  {% for t in tourlist_dict%}
      <p  class="btn btn-primary"> <a href="/standings/{{t.id}}">{{t.t_name}}</a></p> &nbsp &nbsp &nbsp &nbsp &nbsp
    {%endfor%}
</div>

</div>
{%endblock%}
