<!DOCTYPE html>

{% extends 'Manager/indexbase.html'%}
{%load staticfiles%}



{% block indexblock%}

<link rel="stylesheet" href="{%static 'css/guest.css' %}">

<div class="container">

<h1>{{tour_id}} Standings</h1> <br>

<form  action="/pdf" method="post">
  {%csrf_token%}

<input type="hidden" name="tour_id" id="tour_id" value="{{tour_id}}">
{% if temp_store%}
<table class="table">
    <thead>
      <th>Team Name</th>
      <th>Played</th>
      <th>Won</th>
      <th>Lost</th>
      <th>Points</th>

    </thead>
    {%for t in temp_store %}
    <tr>
      <td>{{t.team_name}}</td>
      <td>{{t.Matches}}</td>
      <td>{{t.wins}}</td>
      <td>{{t.loss}}</td>
      <td>{{t.Points}}</td>

    </tr>
    {%endfor%}
  </table>
{%else%}
  <p>No Standings Available</p>
{%endif%}

<input type="submit" formtarget="_blank" name="click" value="click">

</div>
</form>
{%endblock%}
