<!DOCTYPE html>

{% extends 'Manager/indexbase.html'%}
{%load staticfiles%}



{% block indexblock%}

<!-- <link rel="stylesheet" href="{%static 'css/guest.css' %}"> -->

<style >
.container {
  color: aliceblue;
  width: 1308px;
  height: 605px;

  margin: 48px;
}

body{
  overflow: auto;
}

</style>

<div class="container">
  <h3>{{tour_id}} Top Goalers List</h3> <br>
  {%if top_goal_dict%}
    <table class="table">
      <thead style="font-size:22px;">
        <th>Player</th>
        <th> Goals</th>
        <th>Team</th>
      </thead>
      {%for t in top_goal_dict %}
      <tr style="font-size:18px;">
        <td>{{t.Player}}</td>
        <td>{{t.Goals}}</td>
        <td>{{t.Team}}</td>
      </tr>
      {%endfor%}
  </table>
  {%else%}
  <p>No Rankings Avaliable</p>
  {%endif%}



</div>
{%endblock%}
