<!DOCTYPE html>
{% extends 'Manager/indexbase.html'%}

{%load staticfiles%}

<!-- <link rel="stylesheet" href="{%static 'css/home.css' %}"> -->

{% load crispy_forms_tags %}

{% block indexblock%}

<style>

.jumbotron{

  height: 200px;
  width: 420px;
  margin-top: 22px;
  margin-left: 429px;
  background: whitesmoke;

}

.jumbotron p {
    margin-bottom: 16px;
    font-size: 26px;
    font-weight: 200;
}

a {

    text-decoration: none;
    color: aliceblue;
}

.container {
  color: aliceblue;
  width: 1308px;
  height: 605px;
  /* overflow: auto; */
  margin: 48px;

}

body{
  overflow: auto;
}

</style>

<div class="jumbotron">
  <p>Please select the Tournment</p>
{% for g in top_goal_dict%}
    <p  class="btn btn-primary"> <a href="/top_goals/{{g.id}}">{{g.t_name}}</a></p> &nbsp &nbsp &nbsp &nbsp &nbsp
  {%endfor%}
</div>




{%endblock%}
